.tags{
    width: 96vw;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    overflow: scroll;
    position: relative;
}
.tags::-webkit-scrollbar{
    display: none;
}
.tag{
    flex: none;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
}

@media all and  (max-width:600px) {
    .tags{
        padding: 10px;
    }
}